<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emma.blog.mapper.TypeMapper">
  <resultMap id="BaseResultMapType" type="com.emma.blog.entity.Type">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <!--一对多private List<Blog> blogs = new ArrayList<>();-->
    <collection property="blogs" javaType="java.awt.List" ofType="com.emma.blog.entity.Blog">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="appreciation" jdbcType="BIT" property="appreciation" />
      <result column="commentabled" jdbcType="BIT" property="commentabled" />
      <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
      <result column="first_picture" jdbcType="VARCHAR" property="firstPicture" />
      <result column="flag" jdbcType="VARCHAR" property="flag" />
      <result column="published" jdbcType="BIT" property="published" />
      <result column="recommend" jdbcType="BIT" property="recommend" />
      <result column="share_statement" jdbcType="BIT" property="shareStatement" />
      <result column="title" jdbcType="VARCHAR" property="title" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="views" jdbcType="INTEGER" property="views" />
      <result column="description" jdbcType="VARCHAR" property="description" />
    </collection>
  </resultMap>
  <!--Type selectByPrimaryKey(Integer id);-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.emma.blog.entity.Type">
    select 
      t.id, t.type_name
    from t_type t
    where t.id = #{id,jdbcType=INTEGER}
  </select>
  <!--Page<Type> findAll();-->
  <select id="findAll" resultType="com.emma.blog.entity.Type">
    select t.id,t.type_name from t_type t
  </select>
  <!--List<Type> findTypeByTop(Integer index);  -->
  <select id="findTypeByTop" parameterType="java.lang.Integer" resultType="com.emma.blog.entity.Type" >
      select * from t_type t order by (select count(b.type_id) from t_blog b where t.id=b.type_id) desc limit #{index}
  </select>
  <!--Type findByTypeName(String typeName);-->
  <select id="findByTypeName" resultType="com.emma.blog.entity.Type" parameterType="java.lang.String">
    <bind name="pattern" value="'%' + tagName + '%'" />
    select t.id,t.type_name
    from t_type t
    where t.type_name like #{pattern}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!--int insert(Type record); 把这个一改-->
  <insert id="insert" parameterType="com.emma.blog.entity.Type" useGeneratedKeys="true" keyProperty="id">
    insert into t_type (id, type_name)
    values (#{id,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.emma.blog.entity.Type" useGeneratedKeys="true" keyProperty="id">
    insert into t_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emma.blog.entity.Type">
    update t_type
    <set>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emma.blog.entity.Type">
    update t_type
    set type_name = #{typeName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>